<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper는 테이블 별로 하나씩 만들 거다. namespace는 중복되면 안된다. -->
<mapper namespace="com.sol.app.boards.notices.NoticeDAO">

	<sql id="searchSql">
		<where>		
			BOARDNUM > 0	
			<choose>
				<when test="kind == 'k1'">
					AND BOARDTITLE LIKE '%'||#{search}||'%'
				</when>
				<when test="kind == 'k3'">
					AND BOARDWRITER LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND BOARDCONTENTS LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM 
		(	SELECT 		ROWNUM r, n.*
			FROM	(	SELECT 		*
						FROM 		NOTICE
						<include refid="searchSql"/>
						ORDER BY	BOARDNUM DESC	) n)
		WHERE	r BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="countList" parameterType="Pager" resultType="java.lang.Long">
		SELECT	COUNT(BOARDNUM)
		FROM	(
			SELECT	*
			FROM	NOTICE
			<include refid="searchSql"/>
		)
	</select>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE	NOTICE
		SET		BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents}
		WHERE 	BOARDNUM = #{boardNum}
	</update>

	<insert id="add" parameterType="NoticeDTO">
		<selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="boardNum">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (
			BOARDNUM, BOARDWRITER, BOARDTITLE
		,	BOARDCONTENTS, BOARDCATEGORY
		)
		VALUES (
			#{boardNum}, #{boardWriter}, #{boardTitle}
		,	#{boardContents}, NULL
		)
	</insert>
	
	<insert id="addFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES
		VALUES (FILE_SEQ.NEXTVAL, #{boardNum}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getDetail" parameterType="NoticeDTO" resultMap="detailResult">
		SELECT	*
		FROM	NOTICE n LEFT JOIN NOTICEFILES nf
				ON n.BOARDNUM = nf.BOARDNUM
		WHERE 	n.BOARDNUM = #{boardNum}
	</select>
	
	<resultMap type="NoticeDTO" id="detailResult">
		<id column="BOARDNUM" property="boardNum"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDTITLE" property="boardTitle"/>
		<result column="CREATEDATE" property="createDate"/>
		<result column="UPDATEDATE" property="updateDate"/>
		<result column="BOARDHIT" property="boardHit"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="REF" property="ref"/>
		<result column="STEP" property="step"/>
		<result column="DEPTH" property="depth"/>
		<result column="BOARDCATEGORY" property="boardCategory"/>
		<result column="DEL" property="del"/>
		
		<collection property="fileDTOs" javaType="java.util.List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardNum}
	</delete>
	
	<update id="hit" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET BOARDHIT = BOARDHIT+1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<select id="countSearch" parameterType="Pager" resultType="java.lang.Long">
		SELECT COUNT(BOARDNUM)
		FROM NOTICE	
		<include refid="searchSql"/>
	</select>
</mapper>